@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --main-bg-color: rgb(0, 255, 242);
  --blue-color: rgb(0, 72, 255);
  --dark-blue-color: rgb(0, 19, 53);
  --nature-green-color: rgb(35, 162, 35);
  --nature-green-shadow: rgb(23, 94, 23);
  --orange-color: rgb(255, 123, 0);
  --orange-shadow: rgb(148, 84, 0);
  --main-font-color: white;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--main-bg-color);
  width: 100vw;
  height: 100vh;
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-green {
  background-color: var(--nature-green-color);
}

.bg-dark-green {
  background-color: var(--nature-green-shadow);
}

.righteous-font {
  font-family: "Righteous", cursive;
  color: var(--main-font-color) !important;
}

.navbar-font-size {
  font-size: 30px;
}

.header-font {
  font-size: 60px;
  text-shadow: 2px 2px 4px black;
}

.menu-bg {
  background-image: url("../images/scrolling-city-bg.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
}

.search {
  background-color: var(--nature-green-color);
  box-shadow: 2px 2px 4px var(--nature-green-shadow);
}

.buttons-bg-enabled {
  background-color: var(--orange-color);
  box-shadow: 0px 8px 8px var(--orange-shadow);
  transition: 0.2s;
}

.buttons-bg-enabled:active {
  transform: translateY(7px);
  box-shadow: 0px 1px 8px var(--orange-shadow);
}

.format-field {
  width: 100%;
  height: 100%;
}

.img-fitter {
  width: 30%;
  height: 60%;
  margin: 0;
}

.img-shadow {
  box-shadow: 10px 10px var(--dark-blue-color);
  border: solid 2px black;
}

.img-shadow-green {
  box-shadow: 10px 10px var(--nature-green-shadow);
  border: solid 2px black;
}

.margin-corrector {
  margin: 0px;
  padding: 0px;
}

.title-text {
  font-size: 50px;
}

.par-text {
  font-size: 28px;
}

.text-shadow {
  text-shadow: 6px 6px var(--dark-blue-color);
}

.col-card {
  width: 90%;
  height: 80%;
}

.row {
  padding: 0px;
}

.time-text {
  font-size: 30px;
  color: rgb(206, 252, 0);
}

.card-shadow-blue {
  box-shadow: 0px 1px 8px 2px var(--dark-blue-color);
  border: solid 2px black;
  transition: 0.5s;
}

.card-shadow-magenta {
  box-shadow: 0px 1px 8px 2px rgb(94, 0, 78);

  border: solid 2px black;
  transition: 0.5s;
}

.card-shadow-blue:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 8px 2px var(--dark-blue-color);

  color: rgb(255, 223, 141);
}

.card-shadow-magenta:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 8px 2px rgb(94, 0, 78);
  color: rgb(255, 223, 141);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.bg-orange {
  background-color: var(--orange-color);
}

.text-area-large {
  width: 100%;
  height: 100%;
}

input {
  font: inherit;
  border: 0.125em solid hsl(30, 76%, 10%);
  outline: none;
}

input::placeholder {
  color: rgb(204, 204, 204);
}

input[data-state="valid"] {
  border-color: hsl(120, 76%, 50%);
}

input[data-state="invalid"] {
  border-color: hsl(0, 76%, 50%);
}
